<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="LayUI.Wpf.Extensions" version="1.0.2.250701" targetFramework="net452" />
  <package id="log4net" version="2.0.15" targetFramework="net452" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>