<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--log4net配置-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	<log4net>
		<root>
			<level value="DEBUG" />
			<!--定义Debug日志输出类型-->
			<appender-ref ref="DebugRollingFileAppender" />
			<!--定义Info日志输出类型-->
			<appender-ref ref="InfoRollingFileAppender" />
			<!--定义Warn日志输出类型-->
			<appender-ref ref="WarnRollingFileAppender" />
			<!--定义Error日志输出类型-->
			<appender-ref ref="ErrorRollingFileAppender" />
		</root>
		<!--Debug日志模板-->
		<appender name="DebugRollingFileAppender" type="log4net.Appender.RollingFileAppender" >
			<!--定义日志输入目录-->
			<file value="Logs/Debug/" />
			<appendToFile value="true" />
			<immediateFlush value="true" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<!--定义日志文件名称-->
			<datePattern value="yyyy-MM-dd\\yyyy年MM月dd日HH时&quot;.log&quot;" />
			<!--定义日志文件体积大小-->
			<MaximumFileSize value="50MB"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<!--定义日志文件内容排版-->
				<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.ffff} [%t] %c %m%n" />
			</layout>
			<!--定义日志目录类型-->
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch  value="DEBUG" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
		<!--Info日志模板-->
		<appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender" >
			<file value="Logs/Info/" />
			<appendToFile value="true" />
			<immediateFlush value="true" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<!--定义日志文件名称-->
			<datePattern value="yyyy-MM-dd\\yyyy年MM月dd日HH时&quot;.log&quot;" />
			<!--定义日志文件体积大小-->
			<MaximumFileSize value="50MB"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<!--定义日志文件内容排版-->
				<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.ffff} [%t] %c %m%n" />
			</layout>
			<!--定义日志目录类型-->
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch  value="INFO" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
		<!--Warn日志模板-->
		<appender name="WarnRollingFileAppender" type="log4net.Appender.RollingFileAppender" >
			<file value="Logs/Warn/" />
			<appendToFile value="true" />
			<immediateFlush value="true" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<!--定义日志文件名称-->
			<datePattern value="yyyy-MM-dd\\yyyy年MM月dd日HH时&quot;.log&quot;" />
			<!--定义日志文件体积大小-->
			<MaximumFileSize value="50MB"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<!--定义日志文件内容排版-->
				<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.ffff} [%t] %c %m%n" />
			</layout>
			<!--定义日志目录类型-->
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch  value="WARN" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
		<!--Error日志模板-->
		<appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender" >
			<file value="Logs/Error/" />
			<appendToFile value="true" />
			<immediateFlush value="true" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<!--定义日志文件名称-->
			<datePattern value="yyyy-MM-dd\\yyyy年MM月dd日HH时&quot;.log&quot;" />
			<!--定义日志文件体积大小-->
			<MaximumFileSize value="50MB"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<!--定义日志文件内容排版-->
				<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.ffff} [%t] %c %m%n" />
			</layout>
			<!--定义日志目录类型-->
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch  value="ERROR" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>